.music-player {
    text-align: center;
    margin: 20px 0; /* Espacio entre el reproductor y el contenido */
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: #f3f3f3; /* Fondo opcional para distinguir el reproductor */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos generales */
body {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    margin-top: 20px; /* Añade margen para que la tarjeta no quede muy cerca del reproductor */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.card {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
    transition: 0.4s;
    text-align: center;
}

.card:hover {
    translate: 0 -10px;
}
